<% @posts.each do |x| %> 

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">

				<%= image_tag x.image.url(:medium)  %>
				<br> 
				<br> 
				<div class="post_description"> 
					<%= x.description %> 
				</div> 
				<br> 
				<br> 
			<%  end %> 
			</div> 
		</div>
	</div> 
